---
layout: page.hbs
title: "Проект {{ item.title }}"
pagination:
    data: portfolio
    size: 1
    alias: item
permalink: "portfolio/{{ item.url }}/"
---
<main class="document project">
    <div class="title">
        {{ item.title }}
    </div>
    <div class="left-side">
        <div class="monitor">
            <a class="lightbox fluidbox" href="{{item.images.[0]}}"><img src="{{item.images.[0]}}" witdh="445" height="225"></a>
        </div>
        {{#each item.images}}
        <div class="screenshot">
            <a class="lightbox fluidbox" href="{{this}}"><img src="{{this}}" ></a>
        </div>
        {{/each}}
    <a href="" class="prev">« Предыдущий проект </a>
    <a href="" class="next">Следующий проект »</a>
    </div>
     <div class="overview">
        {{{ item.description }}}
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      
        var disqus_shortname = 'sky4tress'; 

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</main>