<div class="header-top">
    <div class="wrapper">
        <a href="/">
            <div class="logo"></div>
        </a>
        <div class="search">
            <input type="text" name="search" placeholder="Поиск...">
        </div>
        <div class="social">
            <a href="/goto/vk.com/sky4tress" class="vk"></a>
            <a href="/goto/www.facebook.com/profile.php?id=100006760756945" class="fb"></a>
            <a href="/goto/twitter.com/sky4tress" class="tw"></a>
        </div>
        <nav>
            <ul>
                <li class="{{{ active page.url "/" }}} home">
                    <a href="/"></a>
                </li>
                <li class="{{{ active page.url "blog" }}}">
                    <a href="/blog">Блог</a>
                </li>
                <li class="{{{ active page.url "portfolio" }}}">
                    <a href="/portfolio">Портфолио</a>
                </li>
                <li class="{{{ active page.url "contacts" }}}">
                    <a href="/contacts">Контакты</a>
                </li>
                <li class="{{{ active page.url "about" }}}">
                    <a href="/about">Обо мне</a>
                </li>
                <li class="top-bar"></li>
            </ul>
        </nav>
    </div>
</div>